.header {
    display: flex;
    flex-flow: row wrap;
    background-color: #0C2BB3;
    color: #CED0CE;
    justify-content: space-around;
    margin-bottom: 15px;
    align-items: center;
    font-size: 45px;
  }

body {
    background-color: #FFE9AF;
    margin: 0px;
}
.wrapper {
    background-color: #FFE9AF;
}

.content {
    max-width: 960px;
    display: flex;
    flex-wrap: row wrap;
    margin: 0 auto;
}

.photo {
    max-width: 320px;
    margin-right: 10px;
}

.photo p {
    background-color: white;
    border-radius: 4px;
    max-height: 225px;
}

.roles {
    min-width: 640px;
    max-height: 350px;
    background-color: white;
    border: 1px solid;
    padding: 1%;
    align-items: center;
}

.roles h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Oxanium';
}

.roles li {
    font-family: 'Overlock';
}

.photo img{
    max-width: 100%;
    border: 1px solid;
    border-radius: 4px;
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        justify-content: center;
    }

    .photo {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
    }
}