.header {
    display: flex;
    flex-flow: row wrap;
    background-color: #0C2BB3;
    color: #CED0CE;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    font-size: 45px;
  }

body {
    background-color: #FFE9AF;
}
.wrapper {
    justify-content: center;
    background-color: #FFE9AF;
    flex-direction: column;
}

.content {
    max-width: 960px;
    display: flex;
    flex-wrap: row wrap;
}

.photo {
    max-width: 320px;
    padding: 1%;
}

.photo p {
    background-color: white;
    border-radius: 4px;
}

.roles {
    min-width: 66%;
    background-color: white;
    border: 1px solid;
}

.roles h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Oxanium';
}

.roles li {
    font-family: 'Overlock';
}

.photo img{
    max-width: 100%;
    border: 1px solid;
    border-radius: 4px;
}
